@import url("https://fonts.googleapis.com/css?family=Poppins");
:root {
  --lightorange: #f069b5;
  --orange: #bc1c77;
  --grey: #909090; }

.container {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* Hintergrund Verlauf fuer gaengiste Browser*/
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 20%, #ece9e6 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 20%, #ece9e6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: #ece9e6;
  /* Wenn nicht unterstuetz */
  background: radial-gradient(ellipse at center, #ffffff 20%, #ece9e6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ece9e6', GradientType=1);
  /* IE6-9 */
  display: grid;
  grid-template-areas: "header header header" "left main right" "footer footer footer";
  grid-template-rows: 112px 1fr 24px;
  grid-template-columns: 1fr 1300px 1fr;
  min-height: 100vh; }
  @media (max-device-width: 700px) {
    .container {
      grid-template-columns: 10px 1fr 10px; } }
  @media (min-device-width: 700px) and (max-device-width: 1024px) {
    .container {
      grid-template-columns: 62px 1fr 62px; } }
  @media (min-device-width: 1024px) and (max-device-width: 1600px) {
    .container {
      grid-template-columns: 1fr 1000px 1fr; } }

.header {
  grid-area: header;
  align-content: center; }
  .header #stripes {
    height: 96px;
    background: linear-gradient(to bottom, var(--orange) 33%, var(--lightorange) 66%); }
    .header #stripes #headerTable {
      margin-left: auto;
      margin-right: auto;
      width: 1300px; }
      @media (max-device-width: 700px) {
        .header #stripes #headerTable {
          width: calc(100% - 20px); } }
      @media (min-device-width: 700px) and (max-device-width: 1024px) {
        .header #stripes #headerTable {
          width: calc(100% - 124px); } }
      @media (min-device-width: 1024px) and (max-device-width: 1600px) {
        .header #stripes #headerTable {
          width: 900px; } }
      .header #stripes #headerTable img {
        height: 96px; }
      .header #stripes #headerTable #link_warenkorb {
        float: right;
        text-align: center;
        text-decoration: none;
        color: white; }

.footer {
  background: var(--orange); }
  .footer div {
    height: 24px;
    color: white; }

.left {
  grid-area: left; }

.right {
  grid-area: right; }

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 200px 1fr; }
  .main #waerbung {
    background: darkgray;
    height: 100%;
    border-radius: 10px; }
    .main #waerbung p {
      padding: 100% 0;
      writing-mode: tb-rl;
      font-size: 18px;
      font-weight: bold;
      white-space: nowrap;
      display: block;
      bottom: 0;
      width: 50%; }
  .main #content {
    grid-column: 2; }
    .main #content #kategorien {
      list-style-type: none;
      -webkit-padding-start: 0; }
      .main #content #kategorien li {
        margin: 0 0 10px 10px;
        width: calc(50% - 10px);
        float: left; }
        @media (max-device-width: 900px) {
          .main #content #kategorien li {
            width: calc(100% - 10px); } }
        @media (min-device-width: 1599px) {
          .main #content #kategorien li {
            width: calc(33% - 10px); } }
        .main #content #kategorien li a {
          display: block;
          text-decoration: none;
          color: #444444;
          border: solid var(--grey) 2px;
          -webkit-border-radius: 9px;
          -moz-border-radius: 9px;
          border-radius: 9px;
          padding: 5px; }
          .main #content #kategorien li a:hover {
            border-color: var(--orange);
            color: var(--orange); }
          .main #content #kategorien li a span {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 13px; }
            .main #content #kategorien li a span.cat_name {
              font-size: 18px;
              font-weight: bold; }
            .main #content #kategorien li a span.cat_amount {
              font-size: 12px;
              color: darkgray;
              margin-left: 10px; }
    .main #content #artikel {
      width: 85%;
      margin-left: 10%; }
      .main #content #artikel td {
        padding-left: 15px;
        padding-right: 15px;
        vertical-align: top; }
        .main #content #artikel td.td_name {
          font-size: 18px; }
        .main #content #artikel td.td_lieferant {
          font-size: 18px;
          text-align: right; }
        .main #content #artikel td.td_products {
          font-size: 12px;
          width: 15%; }
          .main #content #artikel td.td_products ul {
            margin: 0;
            padding-left: 15%; }
        .main #content #artikel td.td_desc {
          width: 50%; }
        .main #content #artikel td.td_data {
          width: 35%;
          text-align: right; }
          .main #content #artikel td.td_data .price {
            font-size: 24px;
            margin: 0;
            padding-top: 6px;
            padding-bottom: 6px; }
          .main #content #artikel td.td_data input {
            width: 24%;
            text-align: right; }
            .main #content #artikel td.td_data input[type=submit] {
              text-align: center;
              width: 90%;
              text-transform: uppercase;
              font-weight: bold;
              background: var(--lightorange);
              border-color: var(--lightorange);
              border-radius: 5px;
              min-height: 40px;
              margin-top: 10px; }
    .main #content #warenkorb {
      width: 85%;
      margin-left: 10%;
      border: 1px darkgray solid;
      border-collapse: collapse; }
      .main #content #warenkorb tr {
        text-align: left; }
        .main #content #warenkorb tr.header {
          background: lightgray; }
        .main #content #warenkorb tr td {
          padding-left: 15px;
          padding-right: 15px;
          vertical-align: top; }
          .main #content #warenkorb tr td.artikel {
            width: 25%; }
            .main #content #warenkorb tr td.artikel p {
              margin: 0; }
              .main #content #warenkorb tr td.artikel p.name {
                font-weight: bold; }
              .main #content #warenkorb tr td.artikel p.art {
                font-size: 13px; }
            .main #content #warenkorb tr td.artikel .products {
              font-size: 12px; }
              .main #content #warenkorb tr td.artikel .products ul {
                margin: 0;
                padding-left: 15%; }
          .main #content #warenkorb tr td.desc {
            width: 35%; }
          .main #content #warenkorb tr td.menge {
            width: 10%; }
            .main #content #warenkorb tr td.menge input {
              width: 100%;
              text-align: right; }
          .main #content #warenkorb tr td.preis {
            text-align: right;
            width: 15%; }
          .main #content #warenkorb tr td.summe {
            text-align: right;
            width: 15%; }
    .main #content #warenkorbSumme {
      min-width: 25%;
      background: lightgray;
      border-radius: 3px;
      float: right;
      padding: 8px;
      margin-top: 5%;
      margin-right: 5%; }
      .main #content #warenkorbSumme td.val {
        text-align: right; }
    .main #content #checkout {
      float: right;
      width: 100%; }
      .main #content #checkout span {
        float: right;
        margin-right: 5%; }
        .main #content #checkout span input {
          background: var(--lightorange);
          border-color: var(--lightorange);
          border-radius: 5px;
          min-height: 32px;
          margin-top: 10px; }

.footer {
  grid-area: footer; }

/*# sourceMappingURL=style.css.map */
